.mortandad h2 {
    padding-left: 10%;
}
.mortandad section {
    padding-left: 10%;
    padding-right: 10%;
}
.mortandad section img {
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-right: 30%;
}