.footer {
    display: grid;
    background-color: black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.footer nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;

    display: flex;
    column-gap: 0.5rem;
}
.footer nav a{
    text-decoration: none;
    color: white;
}
.footer nav a.active{
    color: yellow;
    border-bottom-style: solid;
    border-bottom-color: yellow;
    border-bottom-width: 0.1rem;
}
.footer img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;

    width: 10rem;
    height: auto;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer p {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;

    color: white;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 0.1rem;
}