.nav {
    display: grid;
    background-color: black;
    grid-template-columns: calc(var(--header-img) + 0.5rem) auto;
    grid-template-rows: auto;
    column-gap: 0.5rem;
}
.nav div {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    column-gap: 1rem;
}
.nav div a {
    text-decoration: none;
    color: white;
}
.nav div a.active {
    color: yellow;
    border-bottom-style: solid;
    border-bottom-color: yellow;
    border-bottom-width: 0.1rem;
}