:root {
    --header-img: 6rem;
}



body {
    margin: auto;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
}
h2 {
    font-family: "Roboto", "sans-serif";
    font-size: 2rem;
    margin-bottom: 1rem;
}